.block-edition {
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    width: 120%;
    height: 30px;
    transform: translateX(-20%);
    display: block;
    align-items: center;
    justify-content: center;
}

.block-edition span {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

.block-edition p {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top: 5px;
}


header#h-prio {
    margin: 80px 0;
}

#portfolio {
    text-align: center;
    margin-top: 139px;
    margin-bottom: 92px;
}

.div-mid-projets {
    display: flex;
    justify-content: center;
    margin-top: 139px;
    margin-bottom: 92px;
}

#portfolio h2 {
    padding-right: 31px;
    margin-bottom: 0;
}

#portfolio .div-mid-projets p {
    display: flex;
    align-items: center;
    padding-left: 10.42px;
    padding-top: 10px;
    width: 58px;
    font-size: 14px;
}

#portfolio div span {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
    color: black;
}

figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Gform{
    position: absolute;
    top: 50%px;
    left: 405px;
    right: 405px;
    bottom: 50%;
    width: 630px;
    height: 688px;
}
.GformNew{
    position: absolute;
    top: 50%px;
    left: 405px;
    right: 405px;
    bottom: 50%;
    width: 630px;
    height: 688px;
}
.galerie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
   
    gap: 10px;
    margin-top: 20px;
    margin-left: 105px;
    margin-right: 90px;
}
.Gform .galerie {
    /* Ajouter une marge inférieure pour créer de l'espace entre la galerie et le trait */
    margin-bottom: 4.5em;
}



.Gform .galerie .image-container {
    position: relative;
    display: inline-block; /* pour que la taille du conteneur corresponde à celle de l'image */
}

.Gform .galerie img {
    /* Ajuster la taille des images */
    width: 76.86px;
    height: 104.08px;
}

.trash-icon-span {
    position: absolute;
    top: 6px;
    right: 4.86px;
    width: 17px;
    height: 17px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-icon-span i {
 
    font-size: 11px;
}
.ajout_Btn {
    /* Ajouter un bouton */
    border: 1px solid black;
	padding: 5px 50px;
	border-radius: 60px;
	background-color: #1D6154;
	display: flex;
	height: 40px;
    width: 40%;
    position: absolute;
	font-family: 'Syne';
	color: white;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	z-index: 1;
    bottom: 10%;
    left: 30%;
    right: 50%;
}
.ajout_Btn_Wrapper::before {
    content: "";
    display: block;
    border-top: 1px solid #B3B3B3;
    margin-bottom: 38px;
    width: 420px;
    margin-left: 105px;
}
.sub_Wrapper::before {
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid #B3B3B3;
    margin-bottom: 38px;
    width: 420px;
    margin-left: 105px;
    bottom: 110px;
}
.submit-btn-new {
    /* Ajouter un bouton */
    border: 1px solid black;
	padding: 5px 50px;
	border-radius: 60px;
	background-color: gray;
	display: flex;
	height: 40px;
    width: 40%;
    position: absolute;
	font-family: 'Syne';
	color: white;
	justify-content: center;
	font-weight: 700;
	font-size: 16px;
	z-index: 1;
    bottom: 10%;
    left: 30%;
    right: 50%;
}
.submit-btn-new:hover {
    background-color: #1D6154;
}
.input-zone {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.input-reaction {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    width: 379px;}

    label {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1em;
        color: black;
    }

    .cadre-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 420px;
        height: 169px;
        margin-left: 16%;
    
        background-color: rgba(135, 206, 235, 0.2);
    }
    .cadre-div * {
        color:  rgba(180, 180, 200, 1);;
    }
    .bad {
        border-color: red;
    }