.block-edition {
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    width: 120%;
    height: 30px;
    transform: translateX(-20%);
    display: block;
    align-items: center;
    justify-content: center;
}

.block-edition span {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

.block-edition p {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-top: 5px;
}


header#h-prio {
    margin: 80px 0;
}

#portfolio {
    text-align: center;
    margin-top: 139px;
    margin-bottom: 92px;
}

.div-mid-projets {
    display: flex;
    justify-content: center;
    margin-top: 139px;
    margin-bottom: 92px;
}

#portfolio h2 {
    padding-right: 31px;
    margin-bottom: 0;
}

#portfolio .div-mid-projets p {
    display: flex;
    align-items: center;
    padding-left: 10.42px;
    padding-top: 10px;
    width: 58px;
    font-size: 14px;
}

#portfolio div span {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
    color: black;
}

figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Gform{
    position: absolute;
    top: 50%px;
    left: 405px;
    right: 405px;
    bottom: 50%;
    width: 630px;
    height: 688px;
    

}
.galerie {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
   
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 105px;
    margin-right: 105px;
}
.Gform .ajout_Btn::before {
    /* Ajouter un trait avant le bouton */
    content: "";
    display: block;
    border-top: 1px solid black;
    margin-bottom: 10px;
}
.Gform .galerie img {
    /* Ajuster la taille des images */
   width: 76.86px;
    height: 104.08px;
    padding-right: 7.49px;
}
.ajout_Btn {
    /* Ajouter un bouton */
    border: 1px solid black;
	padding: 5px 50px;
	border-radius: 60px;
	background-color: #1D6154;
	display: flex;
	align-items: center;
	gap: 10px;
	text-wrap: nowrap;
	height: 50px;
    position: relative;
	font-family: 'Syne';
	color: white;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	z-index: 1;
    bottom: 0;
    left: 50%;
    right: 50%;
}
