main {
    margin-bottom: 355px;

}

#login_btn {
    font-weight: bold;
}

#form-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-login input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    width: 379px;
}

.input-zone {
    display: flex;
    flex-direction: column-reverse;
}

.email-mdp {
    display: flex;
    justify-content: center;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

.form-article {
    display: flex;
    flex-direction: column;
    margin: 2em 0 1em 0;
    text-align: left;
}

.titre-log {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 17px;
}

input[type="submit"],
#form-login input[type=submit] {
    font-family: 'Syne';
    color: white;
    background-color: #1D6154;
    text-align: center;
    font-weight: 700;
    height: 39px;
    font-size: 14px;
    width: 179px;
    margin: 17px, 18px;
    margin-top: 17px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-self: center;


}

footer nav ul {
    display: flex;
    transform: translateX(200px)
}
.bad {
    border-color: red;
  }